@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available !important;
  }
  .h-full {
    height: -webkit-fill-available !important;
  }
  .webkit-fill-available {
    height: -webkit-fill-available !important;
  }
  .webkit-fill-available * {
    height: -webkit-fill-available !important;
  }
}

.join {
  display: inline-flex;
  align-items: stretch;
  border-radius: var(--rounded-btn, 0.5rem);
}

.join .join-item:first-child:not(:last-child),
.join *:first-child:not(:last-child) .join-item {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.join .join-item:not(:first-child):not(:last-child),
.join *:not(:first-child):not(:last-child) .join-item {
  border-radius: 0;
}

.join .join-item:last-child:not(:first-child),
.join *:last-child:not(:first-child) .join-item {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.markdown h2 {
  font-size: x-large;
  font-weight: bold;
}

.markdown h3 {
  font-size: large;
  font-weight: bold;
}

.markdown ul {
  list-style: inside;
}

.markdown ol {
  list-style: auto;
  margin-left: 1.5rem;
}

.mouseArea {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.moveMouse {
  animation: move-image 2s;
}

@keyframes move-image {
  0% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(100px);
  }
  37.5% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(0px);
  }
  62.5% {
    transform: translateY(100px);
  }
  87.5% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

.start-animation {
  animation-play-state: running !important;
}
